[project]
	description = yang modules used for IETF ODP and vendor proprietary ones
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tom nadeau (tnadeau)
[access "refs/for/refs/*"]
	read = group user/tom nadeau (tnadeau)
	push = group user/tom nadeau (tnadeau)
	label-Code-Review = -2..+2 group user/tom nadeau (tnadeau)
	label-Verified = -1..+1 group user/tom nadeau (tnadeau)
	rebase = group user/tom nadeau (tnadeau)
	removeReviewer = group user/tom nadeau (tnadeau)
	submit = group user/tom nadeau (tnadeau)
[access "refs/heads/*"]
	read = group user/tom nadeau (tnadeau)
	create = group user/tom nadeau (tnadeau)
	push = +force group user/tom nadeau (tnadeau)
	pushMerge = group user/tom nadeau (tnadeau)
[access "refs/tags/*"]
	push = +force group user/tom nadeau (tnadeau)
	pushTag = group user/tom nadeau (tnadeau)
	pushSignedTag = group user/tom nadeau (tnadeau)
